// Fuentes
$titleFont: 'Raleway', sans-serif;
$bodyFont: 'Roboto', sans-serif;
$numberFont: 'Rubik', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primary: #005f6b;
$secondary: #00b4cc;
$alternative: #1dcc52;
$black: #252727;
$white: #ffffff;
$gray: #f4f4f4;
$gray-darken: #616161;
